<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<body>
<form action="#" th:action="@{/bookpage/add}" th:object="${bookReqDTO}"method="post">
    <label for="title">TITLE *</label>
    <input type="text" th:field="*{title}" id="title">
    <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
    <br/>
    <label for="author">AUTHOR *</label>
    <input type="text" th:field="*{author}" id="author">
    <span th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></span>
    <br/>
    <label for="isbn">ISBN *</label>
    <input type="text" th:field="*{isbn}" id="isbn">
    <span th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}" readonly></span>
    <br/>
    <label for="genre">GENRE</label>
    <input type="text" th:field="*{genre}" id="genre">
    <span th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}"></span>
    <br/>
    <input type="submit" value="SUBMIT">
</form>
</body>
</html>